extends layout

block content
  h1= title
  p Welcome to The Secret Message Board 
  p Tell us a secret!

  if user 
    h1 Welcome back #{user.username}
    a(href="/log-out") LOG OUT
    p 
    form(action="/new-message" method="POST")
      p
        label(for="message", class="message-label")  New Message: 
        p 
        textarea#message(name="message", cols="30", rows="10")
        p 
        input(type="submit", value="Submit")
    p
    h3(class='message-title') Messages:
      each message in message_list
        div(class='message-box')
          p(class="message-content") #{message.message}
          p(class="message-user") -#{message.user}
      else
        p There are no messages 
  else 
    h3 Login
    form(action="/login" method="POST") 
        p
          p  Username: 
              input(type='text', for='username', name='username', value='', placeholder='username')
          p Password: 
              input(type="text", for='password', name='password', value='', placeholder='password')
          input(type="submit", value='Submit')
  